<body>
<large>
<br><b>Padstack:</b> <body>
<large>
<br><b>Software Version:</b>
17.4<body>
<large>
<br><b>Date/Time</b>: 2021/11/08 14:44:14<br>
<hr style=border-top: dashed 2px; />
<blockquote>
<br><table border=1>
<tr>
<th>Severity</th>
<th>Message</th>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>No default internal pads are defined.  When loaded into a design, no internal pads will be added for unmatched padstack layers or when additional internal connection layers are added to the design.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole size is equal to or larger than smallest pad size.  Pad will be drilled away.</td>
</tr>
</table></br>
</blockquote>
