<h2><b><center></b></center></h2>
<body>
<large>
<br>date/time: 2021/11/08 8:33:20<br>
<br>type: SMD Pin
<br>units: mm
<br>decimal places: 3
<br><br><u>Hole data</u><blockquote>
geometry: None
</blockquote>
<br><u>Design layer pads</u>
<blockquote>Layer: BEGIN LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>Regular</td>
<td>Square</td>
<td>1.100</td>
<td>1.100</td>
<td>0.000</td>
<td>0.000</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<blockquote>Layer: ADJACENT LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>Regular</td>
<td>None</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<br><u>Mask layer pads</u>
<blockquote>
<table border=1>
<tr>
<th>Layer</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>SOLDERMASK_TOP</td>
<td>None</td>
</tr>
<tr>
<td>SOLDERMASK_BOTTOM</td>
<td>None</td>
</tr>
<tr>
<td>PASTEMASK_TOP</td>
<td>None</td>
</tr>
<tr>
<td>PASTEMASK_BOTTOM</td>
<td>None</td>
</tr>
<tr>
<td>FILMMASK_TOP</td>
<td>None</td>
</tr>
<tr>
<td>FILMMASK_BOTTOM</td>
<td>None</td>
</tr>
<tr>
<td>COVERLAY_TOP</td>
<td>None</td>
</tr>
<tr>
<td>COVERLAY_BOTTOM</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<br><u>Usage options</u><blockquote>
Suppress unconnected internal pads: No
<br>Lock layer span: No
</body>
